@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Hairline.otf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-UltraLight.otf) format("truetype");
  font-weight: 150;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Light.otf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.otf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-SemiBold.otf) format("truetype");
  font-weight: 410;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Black.otf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
	padding: 0;
	margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  background-color: #00BBD3;
}

h1 {
  font-size: 64px;
  color: #2f2f2f;
  font-weight: normal;
  letter-spacing: -5px;
  margin: 0;
  margin-left: 20%;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  color: #2f2f2f;
  font-weight: normal;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0;
}

.header {
  padding-top: 20px;
  font-size: 24px;
  position: fixed;
  color: #2f2f2f;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
  background-color: #00BBD3;
  border-bottom: 1px solid #00BBD3;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
  
}

.title {
  float: left;
  margin: 0;
  margin-left: 10%;
  color: #2f2f2f;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.transition {
  background-color: white;
  
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.transition .title {
  color: #00BBD3;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.menu {
  float: right;
  margin-right: 10%;
  margin-top: -24px;
}

.menu li {
  display: inline;
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.menu li a:hover {
  color: #2f2f2f;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.transition li a {
  color: #2f2f2f;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.transition li a:hover {
  color: #00BBD3;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.splash {
	background-color: #00BBD3;
	height: 100vh;
	width: 100%;
  box-sizing: border-box;
  padding-top: 25vh;
}

.scroll_arrow {
  color: #2f2f2f;
  font-size: 48px;
  font-weight: 100;
  width: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 8vh;
  -webkit-transform:scale(2,1);
  -moz-transform:scale(2,1);
  -ms-transform:scale(2,1);
  -o-transform:scale(2,1);
  transform:scale(2,1);
  cursor: pointer;

}

.scroll_arrow:hover {
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.name {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 240s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.about, .work {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.underline {
  width: 100%;
  height: 5px;
  background-color: #00BBD3;
}

.pg {
  font-size: 16px;
  line-height: 150%;
  width: 49%;
}

.container {
  width: 100%;
}

.white {
  overflow: hidden;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project {
  width: 49%;
  padding: 50px;
  text-align: center;
  background-color: #2f2f2f;
  margin-top: 20px;
  box-sizing: border-box;
  color: white;
  float: left;
  font-size: 24px;
  font-weight: 410;
  cursor: pointer;
}

#watwhenwhere {
  color: #e2e2e2;
  border: 1px solid #2f2f2f;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

#watwhenwhere:hover {
  color: #2f2f2f;
  background-color: #e2e2e2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

#predictable {
  float: right;
  color: white;
  font-weight: 100;
  border: 1px solid #3399cc;
  background-color: #3399cc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

#predictable:hover {
  color: #3399cc;
  background-color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

#fiverr {
  background-color: #00B22D;
  color: white;
  border: 1px solid #00B22D;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

#fiverr:hover {
  background-color: white;
  color: #00B22D;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

#transference {
  float: right;
  background-color: #1D282A;
  color: #5F828A;
  border: 1px solid #1D282A;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;   
}

#transference:hover {
  background-color: #5F828A;
  color: #1D282A;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;   
}

#planner {
  color: white;
  background-color: #F6444C;
  border: 1px solid #F6444C;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;   
}

#planner:hover {
  background-color: #3F58A4;
  border: 1px solid #3F58A4;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;   
}

#misc {
  float: right;
  color: black;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;   
}

#misc:hover {
  color: white;
  background-color: black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;   
}

.contact {
  background-color: #00BBD3;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  width: 100%;
  float: left;
}

.contact .pg, .contact h2 {
  margin-left: 10%;
}

.contact .underline {
  background-color: white;
}

@media only screen and (max-width: 1000px) {

.project {
  width: 100%;
  padding: 75px;
}

.pg {
  width: 100%;
}

}